<div ng-controller="AreaDefinitionCountryCtl">
	<div class="crm-group crm-block crm-form-block" ng-form="AreaDefinitionCountryForm" crm-ui-id-scope>
		<div crm-ui-field="{name: 'AreaDefinitionCountryForm.county', title: ts('Country'), required: true}">
			<input crm-entityref="{entity: 'Country', select: {allowClear:true}}" ng-required="true" ng-model="areaDefinition.country_id" />
    </div>
	</div>
	
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset">
			<button crm-icon="fa-check" ng-click="save()" ng-disabled="AreaDefinitionCountryForm.$invalid">{{ts('Save and Close')}}</button>
			<button crm-icon="fa-times" ng-click="cancel()">{{ts('Cancel')}}</button>
		</div>
	</div>
</div>
	