# Ignore configuration files that may contain sensitive information.
settings*.php

# Ignore paths that contain user-generated content.
files
private

settings.php
civicrm.settings.php
drushrc.php
files

civiext/cache

.DS_Store
*~
\#*\#
*.swp
*.mysql

*.tar
*.gz
*.zip
